<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Personagens da Marvel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
</head>
<style>
body {
    color: #f0ece2;
}

h1, h2, h3, p, Form{
    color: rgb(15, 15, 15);
}

table{
    border-radius: 20px;
}

.TituloRH {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
}

.TituloRH img {
    width: 300px;
    margin-right: 10px; /* Espaço entre a imagem e o h2 */
}

footer {
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
}

</style>
<body>
  <div class="container">
    <div class="TituloRH" style="">
      <img src="/static/Avengers-Logo-PNG4.png" alt="logo" style="width: 300px; display: block;"/> 
      <h2><strong>RH Vingadores</strong></h2>
    </div>
        
    {% block content %}
    {% endblock content %}

    <footer>
      <div>
        <img src="/static/Avengers-Logo-PNG6.png" alt="logo" style="width: 100px;">
      </div>
    </footer>
  </div>
</body>
</html>
