{% extends 'base.html' %}
 
{% block content %}
    <form action="/update/{{heroi.id}}" method="post">
        <div class="mb-3">
            <label>Name</label>
            <input type = "text" name = "nome"  class="form-control" value="{{heroi.name}}"/>
        </div> 
        <div class="mb-3">
            <label>Position</label>
            <input type = "text" name = "superpoder" class="form-control" value="{{heroi.position}}"/>
        </div> 
        <div class="mb-3">
            <label>Office</label>
            <input type = "text" name = "raca" class="form-control" value="{{heroi.office}}"/>
        </div> 
     
        <input type = "submit" value = "Update" class="btn btn-dark mb-3"/>  
     </form> 
{% endblock content %}