{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2>Histórico de Heróis</h2>
        <table class="table table-bordered table-striped table-hover border-dark">
            <thead class="table-dark">
                <tr>
                    <th>Imagem</th>
                    <th>Nome</th>
                    <th>Super-Poder</th>
                    <th>Raça</th>
                    <th>Data de Entrada</th>
                    <th>Data de Saída</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for rs in herois %}
                    <tr>
                        <td><img src="/static/Avengers-Logo-PNG6.png" alt="teste"></td>
                        <td>{{ rs.nome }}</td>
                        <td>{{ rs.superpoder }}</td>
                        <td>{{ rs.raca }}</td>
                        <td>{{ rs.data_entrada.strftime('%Y-%m-%d') }}</td>
                        <td>{{ rs.data_saida.strftime('%Y-%m-%d') if rs.data_saida else 'N/A' }}</td>
                        <td>Morto</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}