{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2>Histórico de Heróis</h2>
        <table class="table table-bordered table-striped table-hover border-dark">
            <thead class="table-dark">
                <tr>
                    <th>Imagem</th>
                    <th>Nome</th>
                    <th>Super-Poder</th>
                    <th>Raça</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for rs in herois %}
                    <tr>
                        <td><img src="/static/Avengers-Logo-PNG6.png" alt="teste" style="width: 100px;"></td>
                        <td>{{ rs.nome }}</td>
                        <td>{{ rs.superpoder }}</td>
                        <td>{{ rs.raca }}</td>
                        <td>Morto<label for='m' class="sexo">
                        <label for=""></label>
                            <input id='m' type="radio" name="gender" id="gender" value="m"> Masculino
               </label>  
   
       <label for='f' class="sexo">
                            <input id='f' type="radio" name="gender" id="gender" value="f">  Feminino
               </label></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}