{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2>Histórico de Heróis</h2>
        <table class="table table-bordered table-striped table-hover border-dark">
            <thead class="table-dark">
                <tr>
                    <th>Imagem</th>
                    <th>Nome</th>
                    <th>Super-Poder</th>
                    <th>Raça</th>
                    <th width="235px">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for rs in herois %}
                    <tr>
                        <td><img src="/static/Avengers-Logo-PNG6.png" alt="teste" style="width: 100px;"></td>
                        <td>{{ rs.nome }}</td>
                        <td>{{ rs.superpoder }}</td>
                        <td>{{ rs.raca }}</td>
                        <td>
                            <label for='Morto' class="status">
                                <input type="checkbox" name="ativo" value="Morto" > Morto
                            </label>  
   
                            <label for='off' class="status">
                                <input type="checkbox" name="ativo" value="off">  Inativo
                            </label>

                            <a href="deleteBD/{{ rs.id }}" class="btn btn-outline-danger">Apagar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}